In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras import layers
import tensorflow.keras
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('game_data/preprocessing_data.csv')

In [3]:
df.head()

,CUST_SEX,CUST_AGE,BUYERPART,CAR_AGE,CAR_PRICE,IS_LOAN,LOAN_PERIED,LOAN_AMOUNT,F_INSORNOT,ALL_BUYINS_N,...,CAR_MODEL_车型2,CAR_MODEL_车型3,CAR_MODEL_车型4,CAR_MODEL_车型5,CAR_MODEL_车型6,CAR_MODEL_车型7,CAR_MODEL_车型8,CAR_MODEL_车型9,CAR_MODEL_nan,IS_LOST
0,1,42.0,1,44.102154,433.358974,1,5.0,344.760787,1.0,1.0,...,0,0,0,0,1,0,0,0,0,0
1,2,47.0,1,24.919872,299.666481,0,0.0,0.000000,1.0,1.0,...,0,0,0,0,0,1,0,0,0,0
2,1,44.0,1,18.275667,360.277671,1,4.0,223.606798,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
3,1,36.0,1,49.436828,479.374593,0,0.0,0.000000,0.0,4.0,...,0,0,0,0,1,0,0,0,0,0
4,1,66.0,1,40.360872,489.693782,1,5.0,408.656335,1.0,2.0,...,0,0,0,0,1,0,0,0,0,1

In [4]:
df.shape

(54438, 29)

In [5]:
y = df['IS_LOST']
y = np.array(y)
x = df.drop('IS_LOST',axis=1)
x = np.array(x)

In [7]:
# 预处理
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
#训练集与测试集的切分
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 0)
stdsc = preprocessing.StandardScaler()
x_train = stdsc.fit_transform(x_train)
x_test = stdsc.fit_transform(x_test)

# Keras 构造网络模型

In [8]:
model = tf.keras.Sequential()

In [9]:
model.add(layers.Dense(8,activation='relu'))
model.add(layers.Dense(16,activation='relu'))
model.add(layers.Dense(32,activation='relu'))
model.add(layers.Dense(1,activation='softmax'))

In [14]:
from tensorflow.keras.optimizers import Adam

model.compile(optimizer = Adam(lr=0.001), 
              loss = 'binary_crossentropy', 
              metrics = ['acc'])

In [17]:
model.fit(x_train,y_train,epochs=10,batch_size=6400,validation_data=(x_test,y_test))

Epoch 1/10
6/6 [==============================] - 0s 11ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 2/10
6/6 [==============================] - 0s 12ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 3/10
6/6 [==============================] - 0s 14ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 4/10
6/6 [==============================] - 0s 13ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 5/10
6/6 [==============================] - 0s 13ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 6/10
6/6 [==============================] - 0s 12ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 7/10
6/6 [==============================] - 0s 12ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 8/10
6/6 [==============================] - 0s 12ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 9/10
6/6 [==============================] - 0s 12ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961
Epoch 10/10
6/6 [==============================] - 0s 13ms/step - loss: 7.5990 - acc: 0.5017 - val_loss: 7.6844 - val_acc: 0.4961